<!DOCTYPE html>
<html lang="ja" ng-app="calc">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>lesson01</title>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="./app.css">
</head>
<body>
<main class="container" ng-controller="CalcController as calcCtrl">
    <h1>Lesson1</h1>
    <form name="calcForm" class="form-horizontal" ng-submit="calcForm.$valid && calcCtrl.calculateParam()" >
        <div class="form-group">
            <label class="control-label">Param1:</label>
            <input name="param1" type="number" class="form-control" ng-model="calcCtrl.param1" required>
        </div>
        <div role="alert" ng-show="calcForm.param1.$dirty" ng-messages="calcForm.param1.$error">
            <div class="text-danger" ng-message="required">Param1は必須です</div>
        </div>
        <div class="form-group">
            <label class="control-label">Param2:</label>
            <input name="param2" type="number" class="form-control" ng-model="calcCtrl.param2" required>
        </div>
        <div role="alert" ng-show="calcForm.param2.$dirty" ng-messages="calcForm.param2.$error">
            <div class="text-danger" ng-message="required">Param2は必須です</div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" ng-disabled="calcForm.$invalid">送信</button>
        </div>
        <div class="form-group">
            答え：{{calcCtrl.result}}
        </div>
    </form>
</main>
<script src="./bower_components/jquery/dist/jquery.min.js"></script>
<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./bower_components/angular/angular.min.js"></script>
<script src="./bower_components/angular-messages/angular-messages.min.js"></script>
<script src="./app.js"></script>
</body>
</html>